/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 19, 2022, 10:47:45 PM
    Author     : Meliyana
*/


body{
    background-color:#021A4A;
}


.card{
    background-color:red;
    border:2px solid black;
    width:500px;
    height:500px;
}


/*body {
  background-color: #e2dbd6;
}*/
/*.login {
  border: 2px solid white;
}
.login-page {
  border: 2px solid white;
  background-color: #E1B8A8;
}
#content{
  background-color: #e2dbd6;
  min-height: 500px;
}
#content .title {
  color: #316c6e;
}
footer {
  background-color: #316c6e;
}
.seemore {
  width: 350px;
  height: 40px;
  border: 2px solid #316c6e;
  border-radius: 15px;
  background-color: #E1B8A8;
  color: #316c6e;
}
.seemore:hover {
  background-color: #316c6e;
  color: #E1B8A8;
}
.seemore:active {
  background-color: #21494a;
  color: #E1B8A8;
}
.hyperlinks .bi {
  font-size: 30px;
  color: white;
}
.hyperlinks .bi:hover {
  font-size: 30px;
  color: #E1B8A8;
}

halaman login
#login .card {
  color: #316c6e;
}
.btnlogin {
  width: 200px;
  height: 40px;
  border-radius: 15px;
  background-color: #E1B8A8;
  color: white;
}
.btnlogin:hover {
  background-color: #316c6e;
}
.btnlogin:active {
  background-color: #21494a;
}

a:link, a:visited {
  color: #316c6e;
}

reservation
#content-reserve .container {
  min-height: 600px;
}

#content-reserve .title, .price, .text {
  color: #316c6e;
}

#content-reserve .reservation {
  width: 200px;
  height: 40px;
  border-radius: 15px;
  background-color: #316c6e;
  color: white;
}
#content-reserve .reservation:hover {
  background-color: #21494a;
}
#content-reserve .disabled {
  width: 200px;
  height: 40px;
  border-radius: 15px;
  background-color: lightgray;
  color: gray;
}

#booking .card {
  color: #316c6e;
}

#success .bi {
  font-size: 8rem;
}
#success .btnOk {
  width: 200px;
  height: 40px;
  border-radius: 15px;
  background-color: #316c6e;
  color: white;
}
#success .btnOk:hover {
  background-color: #21494a;
}*/

